/* Card */

.card {
  width: 216px;
  max-width: 100%;
  height: 256px;
  max-width: 100%;
  border: 2px black solid;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 7px #888888;
  transition: transform 0.4s;
  background-color: lightgray;
}

.card:hover {
  transform: scale(1.05);
}

.card-img {
  margin: 10px;
  width: 128px;
  max-width: 100%;
  height: 128px;
}

.card-text {
  margin: 10px;
  font: bold;
  font-size: 24px;
  color: black;
}

.card-button {
  width: 216px;
  max-width: 100%;
  height: 60px;
  height: 100%;
  border-top: 2px black solid;
}

/* Button */

.button {
  width: 140px;
  max-width: 100%;
  height: 40px;
  max-height: 100%;
  cursor: pointer;
  color: white;
  background-color: dodgerblue;
  border: transparent;
  border-radius: 25px;
  transition: transform 0.3s ease, opacity 0.3s linear;
}

.button:hover {
  opacity: 75%;
}

.button:active {
  transform: scale(1.05);
}
