<article *ngIf="!error; else errorMessage" class="pokemons">
  <img
    *ngIf="pokemons.length === 0; else loadPokemons"
    class="loader"
    src="../../assets/loader.svg"
    alt="loader"
  />

  <ng-template #loadPokemons>
    <app-card
      *ngFor="let pokemon of pokemons"
      [name]="pokemon.name"
      [url]="pokemon.sprites.front_default"
    ></app-card>
  </ng-template>
</article>

<ng-template #errorMessage>
  <article class="pokemons">
    <h2>
      Error {{ error.status }} |
      {{ error.statusText || "An error has ocurred" }}
    </h2>
  </article>
</ng-template>
